/.phpunit.cache
/node_modules
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.demo
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/_dev
.vscode
timebox.code-workspace
package-lock.json
*.sql
query
start
/public/hot
/public/storage
/public/fonts
/public/webfonts
/tests
composer.lock
artisan
