@font-face {
    font-family: "Titillium Web";
    src: url("/fonts/TitilliumWeb-Regular.ttf") format("truetype");
    //src: url("/public/fonts/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
