.height-1 {
    height: 60px;
}
.height-2 {
    height: 120px;
}
.height-3 {
    height: 180px;
}
.height-4 {
    height: 240px;
}
.height-5 {
    height: 300px;
}
.height-6 {
    height: 360px;
}
.height-7 {
    height: 420px;
}
.height-8 {
    height: 480px;
}